[Desktop Entry]
Name=IP Map
Exec=pkexec /usr/local/sbin/ipmap
Icon=ipmap
Terminal=false
Type=Application
StartupNotify=true
Categories=System;Network;Accessories;
Keywords=ip;network;ipmap;map;
Comment=An interactive map that shows connected IP addresses.
